
.hero {
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzjAFxBYUVcyFNo-qH39_aKDwjH1GfNR9P_g&usqp=CAU");
    background-position:center;
    width:98%;
    height:700px;
    margin-left: 1%;
}


