.hero {
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzjAFxBYUVcyFNo-qH39_aKDwjH1GfNR9P_g&usqp=CAU");
    background-position:center;
    width:2100px;
    height:700px;
}


